@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @appy font-sans;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    * {
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background: #2e2e38;
        }

        ::-webkit-scrollbar-thumb {
            background: #73738c;
        }
    }
}
